@media screen and (max-width: 950px) {
    body {
        .center {
            input {
                min-width: 90%;
            }
            img {
                right: 254px;
                width: 5%;
            }
        }
        h1 {
            font-size: 2em;
        }
    }
}

@media screen and (max-width: 500px) {
    body {
        .center {
            input {
                min-width: 90%;
            }
            img {
                top: 260px;
                right: 42px;
                width: 11%;
            }
        }
        h1 {
            font-size: 1.5em;
        }
    }
}